<nav class="breadcrumbs">
  Admin Dashboard
</nav>


<main class="my-5 container font-sans">

	<header class="text-center mb-4">
		<h1>Admin Dashboard</h1>
	</header>

	<section class="row pb-5">

		<div class="col-sm-4">
			<div class="h-100">
				<h2>Active Loans (<%= @loans.count %>)</h2>
				<table class="table basic-table">
					<tbody>

						<% if @loans.count != 0 %>
							<% @loans.each do |loan| %>
								<tr>
									<td>
										<% if loan.user %>
											<i class="fas fa-link ml-1 color-red"></i>
										<% end %>
									</td>
									<td><%= link_to loan.name_identifier, loan_path(loan) %></td>
								</tr>
							<% end %>
						<% else %>
							<p>There are no current loans.</p>
						<% end %>
					</tbody>
				</table>
				<% if @loans.count != 0 %>
					<%= link_to "Loan Manager", admin_loans_path, class: "btn btn-blue-dark btn-sm" %>
				<% end %>
			</div>
		</div> <!-- col -->





		<div class="col-sm-4">
			<div class="h-100">
				<h2>Documents (<%= @documents.count %>)</h2>
				<table class="table basic-table">
					<tbody>
						<% if @documents.count != 0 %>
							<% @documents.each do |document| %>
								<tr>
		              <td class="text-center" style="max-width: 40px">
		                <% if document.received %>
		                  <i class="fas fa-check-circle color-green"></i>
		                <% else %>
		                  <%= link_to mark_received_path(document), method: :post do %>
		                    <i class="far fa-check-circle color-green"></i>
		                  <% end %>
		                <% end %>
		              </td>
									<td>
										<% if document.upload.attached? %>
	                    <a href="<%= rails_blob_path(document.upload) %>" target="_blank">
	                      <i class="fas fa-file"></i>
	                    </a>
	                  <% end %>
									</td>
		              <td><%= document.name %></td>
								</tr>
							<% end %>
						<% else %>
							<p>There are no documents at this time.</p>
						<% end %>
					</tbody>
				</table>
				<% if @documents.count != 0 %>
					<%= link_to "Documents Manager", admin_documents_path, class: "btn btn-blue-dark btn-sm" %>
				<% end %>
			</div>
		</div> <!-- col -->






		<div class="col-sm-4">
			<div class="h-100">
				<h2>Clients (<%= @clients.count %>)</h2>
				<table class="table basic-table">
					<tbody>
						<% if @clients.count != 0 %>
							<% @clients.each do |client| %>
								<tr>
		              <td><%= link_to client.last_first, user_path(client) %></td>
								</tr>
							<% end %>
						<% else %>
							<p>Currently you do not have any active clients.</p>
						<% end %>
					</tbody>
				</table>
				<% if @clients.count != 0 %>
					<%= link_to "Client Manager", admin_clients_path, class: "btn btn-blue-dark btn-sm" %>
				<% end %>

				<h2 class="mt-5">Team (<%= @teams.count %>)</h2>
				<table class="table basic-table">
					<tbody>
						<% if @teams.count != 0 %>
							<% @teams.each do |team| %>
								<tr>
		              <td><%= link_to team.last_first, user_path(team) %></td>
								</tr>
							<% end %>
						<% else %>
							<p>Currently you do not have any active team members.</p>
						<% end %>
					</tbody>
				</table>
				<% if @teams.count != 0 %>
					<%= link_to "Team Manager", admin_clients_path, class: "btn btn-blue-dark btn-sm" %>
				<% end %>
			</div>

		</div> <!-- col -->

	</section>

</main>
