<nav class="breadcrumbs">
  My Portal
</nav>


<main class="my-5 container font-sans">

	<header class="row mb-5">
		<div class="col-8">
			<h1>My Portal</h1>
			<p><small>
	      <%= link_to "Edit My Info", edit_user_registration_path %>
	      &nbsp;&nbsp;|&nbsp;&nbsp;
	      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</small></p>
		</div>

		<div class="col-4 text-right">
			<div class="box p-3">
				<p class="bolder"><%= @user.full_name %></p>
				<p><%= @user.email %></p>
				<p><%= @user.phone %></p>
		</div>
	</header>

	<section class="row pb-5">

		<div class="col-sm-6">
			<h2>My Loans</h2>
			<% if @loans.count != 0 %>
				<table class="table basic-table">
					<tbody>
						<% @loans.each do |loan| %>
							<tr>
								<td>
									<% if loan.user %>
										<i class="fas fa-link ml-1 color-red"></i>
									<% end %>
								</td>
								<td><%= link_to loan.loan_identifier, loan_path(loan) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<p>You currently don't have any loans with Linchpin Realty.</p>
			<% end %>
		</div> <!-- col -->

		<div class="col-sm-6">
			<h2>Recent Docs</h2>
			<% if @documents.count != 0 %>
				<table class="table basic-table">
					<tbody>
						<% @documents.each do |document| %>
							<tr>
	              <td class="text-center" style="max-width: 40px">
	                <% if document.received %>
	                  <i class="fas fa-check-circle color-green"></i>
	                <% else %>
	                  <%= link_to mark_received_path(document), method: :post do %>
	                    <i class="far fa-check-circle color-green"></i>
	                  <% end %>
	                <% end %>
	              </td>
								<td>
									<% if document.upload.attached? %>
	                    <a href="<%= rails_blob_path(document.upload) %>" target="_blank">
	                      <i class="fas fa-file"></i>
	                    </a>
	                  <% end %>
								</td>
	              <td><%= document.name %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<p>You currently don't have any loans with Linchpin Realty.</p>
			<% end %>
			<%= link_to "My Document Manager", documents_path, class: "btn btn-blue-dark btn-sm" %>
		</div> <!-- col -->

	</section>

</main>
