<nav class="breadcrumbs">
	<% if current_user.admin && ( current_user.id != @user.id ) %>
		<%= link_to "Admin Dashboard", admin_dashboard_path %>
		&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
		<%= link_to "Clients", admin_clients_path %>
		&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
	<% elsif current_user.team && ( current_user.id != @user.id ) %>
		<%= link_to "Team Dashboard", team_dashboard_path %>
		&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
		<%= link_to "Clients", team_clients_path %>
		&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
	<% end %>
	<%= @user.first_name %>'s Client Portal
</nav>




<main class="my-5 container font-sans">

	<header class="row mb-5">
		<div class="col-6 col-md-8">
			<% if current_user && current_user.id == @user.id %>
				<h1>My Client Portal</h1>
				<p><small>
		      <%= link_to "Edit My Info", edit_user_registration_path %>
		      &nbsp;&nbsp;|&nbsp;&nbsp;
		      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
				</small></p>
		  <% else %>
		  	<h1><%= @user.full_name %></h1>
		  	<p><small>Client Portal</p></small>
			<% end %>
		</div>

		<div class="col-6 col-md-4 text-right">
			<div class="box p-3">
				<p class="bolder"><%= @user.full_name %></p>
				<p class="font-serif"><%= @user.email %></p>
				<p class="font-serif"><%= @user.phone %></p>
			</div>
		</div>
	</header>

	<section class="row pb-5">

		<div class="col-sm-6">
			<h2>Loans (<%= @loans.count %>)</h2>
			<% if @loans.count != 0 %>
				<table class="table basic-table">
					<tbody>
						<% @loans.each do |loan| %>
							<tr>
								<td><%= link_to loan.loan_identifier, loan_path(loan) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<p>No current loans with Linchpin Realty.</p>
			<% end %>
		</div> <!-- col -->

		<div class="col-sm-6">
			<h2>Documents (<%= @documents.count %>)</h2>
			<% if @documents.count != 0 %>
				<table class="table basic-table">
					<tbody>
						<% @documents.each do |document| %>
							<tr>
	              <td class="text-center" style="max-width: 40px">
	                <% if document.received %>
	                  <i class="fas fa-check-circle color-green"></i>
	                <% else %>
	                	<% if current_user.admin %>
		                  <%= link_to mark_received_path(document), method: :post, data: { confirm: "Are you sure you want to mark that document received?  The client will be sent a notification email."} do %>
		                    <i class="far fa-times-circle color-green"></i>
		                  <% end %>
	                  <% else %>
	                    <i class="far fa-times-circle color-green"></i>
                    <% end %>
	                <% end %>
	              </td>
								<td>
									<% if document.upload.attached? %>
	                    <a href="<%= rails_blob_path(document.upload) %>" target="_blank">
	                      <i class="fas fa-file"></i>
	                    </a>
	                  <% end %>
								</td>
	              <td><%= document.name %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<p>No documents currently uploaded.</p>
			<% end %>
			<%= link_to "Document Manager", documents_path, class: "btn btn-blue-dark btn-sm" %>
		</div> <!-- col -->

	</section>

</main>
