<% if current_user && current_user.admin && ( current_user.id != @loan.user_id ) %>
	<nav class="breadcrumbs">
		<% if current_user.admin %>
		  <%= link_to "Admin Dashboard", admin_dashboard_path %>
		<% elsif current_user.team %>
		  <%= link_to "Team Dashboard", team_dashboard_path %>
		<% else %>
		  <%= link_to "#{ user.first_name }'s Dashboard", user_path(current_user) %>
		<% end %>
	  &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
	  <% if current_user.admin %>
		  <%= link_to "Loan Manager", admin_loans_path %>
	  	  &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  	  <% elsif current_user.team %>
  	  	  <%= link_to "Loan Manager", team_loans_path %>
	  	  &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  	  <% end %>
  	  <%= @loan.name_identifier %>
	</nav>
<% else %>
	<nav class="breadcrumbs">
	  <%= link_to "#{ current_user.first_name }'s Client Portal", user_path(current_user) %>
	  &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  	  <%= @loan.loan_identifier %>
	</nav>
<% end %>


<main class="my-4 container">

	<header class="row mb-4">
		<div class="col-sm-6 text-center text-sm-left">
			<h1 class="mb-0 pb-0">Account Details</h1>
			<p>
				<span class="bolder"><%= @loan.loan_identifier %></span>
				<br><%= @loan.first_payment.strftime("%m/%Y") %> - <%= @loan.last_payment.strftime("%m/%Y") %> (<%= pluralize(@loan.term_months, "Month") %>)
			</p>
			<% if current_user && current_user.admin %>
				<button type="button" class="btn btn-blue-dark btn-sm" data-toggle="modal" data-target="#newLoan<%= @loan.id %>PaymentModal">
				  Record a New Payment
				</button>
			<% end %>
		</div> <!-- col -->
		<div class="col-sm-6 text-center text-sm-right">
			<div class="box ml-auto p-3 mb-3">
				<p>
					Loan Interest Rate: <span class="bolder color-blue-dark"><%= @loan.interest_rate %>%</span>
					<br>
					Current Monthly Payment: <span class="bolder color-blue-dark"><%= number_to_currency( @loan.interest_rate / 100 / 12 * @loan.balance , precision: 2) %></span>
				</p>
			</div>
			<% if current_user && current_user == @loan.user %>
				<%= link_to "Payment Instructions", page_path("instructions"), class: "btn btn-grey btn-sm" %>
			<% end %>
		</div> <!-- col -->		
	</header>
	<%= render partial: "payments/modal_new", locals: { loan: @loan, payment: Payment.new } %>


	<section class="row">
		<div class="col-12">
			<table class="table basic-table table-hover">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Type</th>
						<th scope="col">Paid/Issued By</th>
						<th scope="col" class="text-right">Invoices</th>
						<th scope="col" class="text-right">Payments</th>
						<th scope="col" class="text-right">Loan Balance</th>
						<% if current_user && current_user.admin %>
							<th scope="col"></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @loan.first_payment.strftime('%m/%d/%Y') %></td>
						<td>Original Loan</td>
						<td>Linchpin Realty</td>
						<td class="text-right"><i class="fas fa-window-minimize color-grey-light"></i></td>
						<td class="text-right"><i class="fas fa-window-minimize color-grey-light"></i></td>
						<td class="text-right">-<%= number_to_currency(@loan.principal) %></td>
						<td></td>
					</tr>
					<% @loan.payments.order(date: :asc, id: :asc).each do |payment| %>
						<tr>
							<td><%= payment.date.strftime('%m/%d/%Y') %></td>
							<td><%= payment.due_or_paid == "Paid" ? "Payment" : "Invoice"  %></td>
							<td><%= payment.paid_by %></td>
							<td class="color-red text-right"><%= payment.due_or_paid == "Due" ? "-" + number_to_currency(payment.amount) : '<i class="fas fa-window-minimize color-grey-light"></i>'.html_safe %></td>
							<td class="color-green text-right"><%= payment.due_or_paid == "Paid" ? number_to_currency(payment.amount) : '<i class="fas fa-window-minimize color-grey-light"></i>'.html_safe %></td>
							<td class=" text-right">-<%= number_to_currency(payment.loan_balance_as_of) %></td>
							<% if current_user && current_user.admin %>
								<td>
									<!-- EDIT -->
									<span data-toggle="modal" data-target="#editPayment<%= payment.id %>Modal" class="pointer">
									  <i class="fas fa-pen mr-1"></i>
									</span>
									<%= render partial: "payments/modal_edit", locals: { loan: @loan, payment: payment } %>

									<!-- DELETE -->
						            <%= link_to "<i class='fas fa-minus-square mr-1'></i>".html_safe, payment_path(payment), method: :delete, data: {confirm: "Are you sure you want to delete that payment?"} %>
								</td>
							<% end %>
						</tr>
					<% end %>

					<tr class="bolder text-right">
						<td colspan="5" class="text-right bolder">Outstanding Loan Balance</td>
						<td>-<%= number_to_currency(@loan.balance) %></td>
						<td></td>
					</tr>

				</tbody>
			</table>
		</div> <!-- col -->
	</section>

</main>
