<nav class="breadcrumbs">
  <%= link_to "Team Dashboard", team_dashboard_path %>
  &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Client Manager
</nav>


<main class="my-4 container">

  <header class="row">
    <div class="col-12 text-center text-sm-left">
      <h1 class="mb-0 pb-0">My Clients</h1>
      <p>
        <span>Clients for <%= current_user.full_name %></span>
      </p>
    </div> <!-- col --> 
  </header>


<!-- ALL USERS -->
  <section class="row justify-content-center">
    <div class="col-12">
      <table class="table basic-table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Loans</th>
            <th scope="col">Documents</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |user| %>

          	<% client_loans = [] %>
      			<% Loan.all.each do |loan| %>
      				<% if loan.user != nil && loan.user_id == user.id %> 
      					<% client_loans << loan %>
      				<% end %>
      			<% end %>

      			<% client_documents = [] %>
      			<% Document.all.each do |document| %>
      				<% if document.user != nil && document.user_id == user.id %> 
      					<% client_documents << document %>
      				<% end %>
      			<% end %>

            <tr>
              <td><%= link_to user.full_name, user_path(user) %></td>
              <td><%= user.email %></td>
              <td><%= user.phone %></td>
              <td>
              	<% client_loans.each do |loan| %>
	              	<%= link_to loan.program, loan_path(loan) %><br>
              	<% end %>
              </td>
              <td><%= link_to pluralize(client_documents.count, "Document"), team_documents_path %></td>
              <td>
                <%= link_to "<i class='fas fa-minus-square mx-1 linkish'></i>".html_safe, user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete that user?"} %>
                <a href="mailto:<%= user.email %>" target="_blank"><i class='fas fa-envelope mx-1 linkish'></i></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- col -->
  </section>

</main>



<script type="text/javascript">
  $(document).ready(function() { 
    $("input").addClass("form-check-input");
    $(".collection_check_boxes").addClass("form-check-label");
  });
</script>








