<nav class="breadcrumbs">
  Team Dashboard
</nav>


<main class="my-5 container font-sans">

	<header class="text-center mb-4">
		<h1>Team Member Dashboard</h1>
	</header>

	<section class="row pb-5">

		<% visible_loans = [] %>
		<% @loans.each do |loan| %>
			<% if loan.user != nil && ( current_user.user_ids.include? loan.user_id ) %> 
				<% visible_loans << loan %>
			<% end %>
		<% end %>

		<div class="col-sm-4">
			<div class="h-100">
				<h2>Active Loans (<%= visible_loans.count %>)</h2>
				<table class="table basic-table">
					<tbody>

						<% if visible_loans.count != 0 %>
							<% visible_loans.each do |loan| %>
								<tr>
									<td>
										<% if loan.user %>
											<i class="fas fa-link ml-1 color-red"></i>
										<% end %>
									</td>
									<td><%= link_to loan.name_identifier, loan_path(loan) %></td>
								</tr>
							<% end %>
						<% else %>
							<p>There are no loans for your current clients.</p>
						<% end %>
					</tbody>
				</table>
				<% if visible_loans.count != 0 %>
					<%= link_to "See All Loans", team_loans_path, class: "btn btn-blue-dark btn-sm" %>
				<% end %>
			</div>
		</div> <!-- col -->




		<% visible_docs = [] %>
		<% @documents.each do |doc| %>
			<% if doc.user != nil && ( current_user.user_ids.include? doc.user_id ) %> 
				<% visible_docs << doc %>
			<% end %>
		<% end %>

		<div class="col-sm-4">
			<div class="h-100">
				<h2>Recent Docs (<%= visible_docs.count %>)</h2>
				<table class="table basic-table">
					<tbody>
						<% if visible_docs.count != 0 %>
							<% visible_docs.each do |document| %>
								<tr>
		              <td class="text-center" style="max-width: 40px">
		                <% if document.received %>
		                  <i class="fas fa-check-circle color-green"></i>
		                <% else %>
		                  <%= link_to mark_received_path(document), method: :post do %>
		                    <i class="far fa-check-circle color-green"></i>
		                  <% end %>
		                <% end %>
		              </td>
									<td>
										<% if document.upload.attached? %>
		                    <a href="<%= rails_blob_path(document.upload) %>" target="_blank">
		                      <i class="fas fa-file"></i>
		                    </a>
		                  <% end %>
									</td>
		              <td><%= document.name %></td>
								</tr>
							<% end %>
						<% else %>
							<p>There are no documents for your current clients.</p>
						<% end %>
					</tbody>
				</table>
				<% if visible_docs.count != 0 %>
					<%= link_to "See All Documents", team_documents_path, class: "btn btn-blue-dark btn-sm" %>
				<% end %>
			</div>
		</div> <!-- col -->





		<% visible_clients = [] %>
		<% @clients.each do |client| %>
			<% if current_user.user_ids.include? client.id %> 
				<% visible_clients << client %>
			<% end %>
		<% end %>

		<div class="col-sm-4">
			<div class="h-100">
				<h2>Current Clients (<%= visible_clients.count %>)</h2>
				<table class="table basic-table">
					<tbody>
						<% if visible_clients.count != 0 %>
							<% visible_clients.each do |client| %>
								<tr>
		              <td><%= link_to client.last_first, user_path(client) %></td>
								</tr>
							<% end %>
						<% else %>
							<p>Currently you do not have any active clients.</p>
						<% end %>
					</tbody>
				</table>
				<% if visible_clients.count != 0 %>
					<%= link_to "See My Clients", team_clients_path, class: "btn btn-blue-dark btn-sm" %>
				<% end %>
			</div>
		</div> <!-- col -->

	</section>

</main>
